# Node modules
node_modules/

# Optional npm debug file
npm-debug.log*

# Optional yarn debug file
yarn-debug.log*
yarn-error.log*

# Optional output logs
logs
*.log
logs/*.log
pids
*.pid
*.seed
*.pid.lock

# Optional directory for temporary files
tmp/
temp/

# MacOS system files
.DS_Store